* {
    font-family: 'Poppins', sans-serif;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a.highlight {
    color: #4CAF50;
}

input.color {
    padding: 0px;
}