<!DOCTYPE html>
<html>
<head>
    <title>HeatKeeb</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <h1><a href="/menu">HeatKeeb</a></h1>
    <form method="post">
        <p>About You</p>
        <input type="text" name="name" placeholder="What's your name?">
        <p>Set the colors for your new keeb!</p>
        <label for="frameColor">Select your Frame Color:</label>
        <input type="color" name="frameColor" class="color">
        <label for="keyColor">Select your Key Color:</label>
        <input type="color" name="keyColor" class="color">
        <label for="textColor">Select your Text Color:</label>
        <input type="color" name="textColor" class="color">
        <label for="specialColor">Select your Special Color:</label>
        <input type="color" name="specialColor" class="color">
        <input type="submit" value="Submit" class="button">
    </form>
    {% if resp %}
        <p>{{ resp }} {% if token %}Save your keyboard token: <b>{{token}}</b> {% endif %}</p>
        <p>To the <a href="/menu" class="highlight">menu</a></p>
    {% endif %}
</body>
</html>