<!DOCTYPE html>
<html>
<head>
    <title>HeatKeeb</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <h1><a href="/menu">HeatKeeb</a></h1>
    <p>What would you like to do?</p>
    <a href="/rebuild" class="button">Rebuild your keeb</a>
    <a href="/keeb" class="button">View your keeb</a>
    <a href="/heatmap/generate" class="button">Generate a heatmap</a>
    <a href="/heatmap/view" class="button">View your latest heatmap</a>
    <a href="/text" class="button">Test your text</a>
</body>
</html>